<div class='container'>

  <%# Row to display any errors %>
  <div class='row'>

    <% if @article.errors.any? %>
      <h3>The following errors prevented the article from getting created</h3>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <% end %>
      </ul>
    <% end %>

  </div>

  <div class='row justify-content-center'>
    <%# Form fields for a new article %>

    <div class='col-6'>
      <%= form_for @article do |f| %>

        <p>
          <%= f.label :title %>
          <br/>
          <%= f.text_field :title %>
        </p>

        <p>
          <%= f.label :description %>
          
          <br/>
          <%= f.text_area :description %>

        </p>

        <p>
          <%= f.submit %>
        </p>

      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='col-6'>
      <div class='btn btn-secondary'>
        <%= link_to 'Return to Articles', articles_path %>
      </div>
    <div>
  </div>

</div>