<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%# Navigation bar for all pages%>
    <%= render 'layouts/navbar' %>

    <%# Renders any messages received for the user%>
    <%= render 'layouts/messages' %>

    <%# Renders all views %>
    <%= yield %>
  </body>
</html>
